.section--team {
    background-color: #F5F4FA;
    padding: 60px 0px;
}

.team {
    // margin: 0 auto;
    // width: 1200px;
    // padding-left: 15px;
    // padding-right: 15px;

&--title {
        color: $title-text-color ;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;

        margin-bottom: 50px;
    }

        &--list {

            // padding-left: 0px;
            // display: flex;
            text-align: center;
            justify-content: center;
            margin: 0 auto;

        }


&--item {
    list-style: none;
    background-color: $background-color;

    height: auto;
    width: 270px;
    border-radius: 4px;
    margin: 30 auto;

    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

//    &:last-child {
//             margin-right: 0px;
//         }
}




}
.team--pedestal {
    padding-top: 30px;
    padding-bottom: 30px;
    

&-title {
        color:$title-text-color ;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        margin-bottom: 10px;

    }

&-description {
    color: $primary-text-color;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 16px;
}
}















